unpackaged/main/default/flows/TestScreenFlow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>55.0</apiVersion>
    <dynamicChoiceSets>
        <name>picklistchoiceset</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>AccountSource</picklistField>
        <picklistObject>Account</picklistObject>
    </dynamicChoiceSets>
    <interviewLabel>TestScreenFlow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>TestScreenFlow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>htfgbhtf</name>
        <label>htfgb</label>
        <locationX>176</locationX>
        <locationY>158</locationY>
        <connector>
            <targetReference>my_screen</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountNumber</field>
            <value>
                <elementReference>dsf</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <screens>
        <name>my_screen</name>
        <label>my screen</label>
        <locationX>176</locationX>
        <locationY>278</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>SectionWithHeader</name>
            <fieldText>SectionWithHeader</fieldText>
            <fieldType>RegionContainer</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>my_screen_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <helpText>&lt;p&gt;iuy&lt;/p&gt;</helpText>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <stages>
        <name>dsf</name>
        <isActive>false</isActive>
        <label>dsf</label>
        <stageOrder>1</stageOrder>
    </stages>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>htfgbhtf</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>gf</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>gfh</stringValue>
        </value>
    </variables>
    <variables>
        <name>hiju</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
